
:root {
    --width: 50%;
}
/*общий фон*/
body {
    background-image: linear-gradient(90deg, cyan, dodgerblue);
}


.mainImg{    
    width: 100%;
    height: 120vw;
    border: 1px solid white;  
    background: linear-gradient(#ffffff,#131011 );
    text-align: center;
}

.image-size {
    width: 80%;
    height: 90%;
    border-radius: 0.5vw;
}

/*контейнер для нижней части главного фото*/
.bottom-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.main-name-age-box {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.main-bottom-size > div {
    font-size: calc(65vw / 16);
    color: #d3d3d3;
}


.chat-btn, .search-btn {
    width: 10%;
    border-radius: 5px;
}

.chat-btn {
    position: absolute;
    top: 0;
    right: 0; 
    animation: color-change-cuby-chat 5s infinite alternate;
    font-size: calc(65vw / 18.5);
}

@keyframes color-change-cuby-chat {
    0% {
        color: #39b702;
    }

    50% {
        color: #680176;
    }

    100% {
        color: #d70000;
    }
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    animation: color-change-cuby-search 5s infinite alternate;
    font-size: calc(65vw / 19.5);
}

@keyframes color-change-cuby-search {
    0% {
        color: #d70000;
    }

    50% {
        color: #680176;
    }

    100% {
        color: #39b702;
    }
}

.next-btn {
    position: relative;
    top: 5%;
    left: 10%;
    display: flex;
    width: 80%;
    height: 10vw;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    border-radius: 50%;
    cursor: pointer;
    color: aliceblue;
}


.layer2 {
    /*background-color:brown;*/
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc(100vh - (100vw * 1.45));
}


/*Arrows*/
.triangle-left, .triangle-right {
    border-top: 6vw solid transparent;
    border-bottom: 6vw solid transparent;
}

.triangle-left {
    border-right: 12vw solid #6E18C0;
}

.triangle-right {
    border-left: 12vw solid #6E18C0;
}

/*стрелки для просмотра фото*/
.triangle-min {
    border-top: 3.2vw solid transparent;
    border-bottom: 3.2vw solid transparent;
    flex-basis: 10%;
}

/*........................................*/

