<div class="nav-container" style="position: fixed;width: 100%; z-index:3; background-color:dimgrey ">
    <nav class="nav-menu">
        <div class="my-btn my-font-size" style="flex-basis: 15%;" @onclick="(() => Switches.SelectMethodForSwitch(4))"> &eth;</div>
        <div class="my-btn my-font-size" style="border-radius: 15%;" @onclick="(() => Switches.SelectMethodForSwitch(1))">CUBY</div>
        <div class="my-btn my-font-size" style="flex-basis: 15%;" @onclick="(() => Switches.SelectMethodForSwitch(5))">&alefsym;</div>
    </nav>
</div>